.modal__update_header {
  text-align: center;
}

.modal__update_close {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.modal__update_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .input__update {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 40vw;
    margin-top: 10px;
    @media screen and (max-width: 320px) {
      width: 60vw;
    }
  }

  .input__update.error {
    border: 2px dashed red;
  }
}
%btn-style {
  background-color: silver;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 25px;
  @media screen and (max-width: 320px) {
    margin: 20px 0px;
  }

  .modal__btn_update {
    @extend %btn-style;
    @media screen and (max-width: 320px) {
      width: 70px;
    }
  }

  .modal__btn_update:hover,
  .modal__btn_cancel:hover {
    opacity: 0.5;
  }

  .modal__btn_cancel {
    @extend %btn-style;
    @media screen and (max-width: 320px) {
      width: 60px;
    }
  }
}
