%btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
}
.card {
  max-width: 350px;
  border-radius: 10px;
  max-height: 550px;
  border: 2px solid black;
  background-color: #fff;
  .cardHeader {
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px 10px 0;

    .btnHeader {
      display: flex;
      .btnTrash,
      .btnEdit {
        @extend %btn;
        margin-left: 10px;
      }

      .btnTrash:hover,
      .btnEdit:hover {
        color: gray;
      }

      .disabled {
        opacity: 0.3;
        cursor: no-drop;
      }
    }
  }

  .cardBody {
    padding: 0px 20px;

    h2 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    h2:last-child {
      margin-top: 5px;
    }
    img {
      cursor: pointer;
      object-fit: cover;
      height: 220px;
      width: 100%;
    }
  }

  .cardFooter {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    button {
      @extend %btn;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
